		<!-- LOGO -->
	<header class="container">
		<a href="#" id="logo"><img src="assets/rails.png" alt="Coming Soon Page" /></a>
	</header>
	
	
	<!-- TIMER -->
	<div class="timer-area">
		
		<h1>RUBYMERCS</h1>
		<h2>Have an idea for an app?</h2>
		<h2> Hire a RubyMerc </h2>
		<h4>Consulting | Wireframes | Mockups</h4>
		<h4> UX/UI | Ruby on Rails | HTML/CSS  </h4>
		
		<ul id="countdown">
			<li>
				<span class="days">00</span>
				<p class="timeRefDays">days</p>
			</li>
			<li>
				<span class="hours">00</span>
				<p class="timeRefHours">hours</p>
			</li>
			<li>
				<span class="minutes">00</span>
				<p class="timeRefMinutes">minutes</p>
			</li>
			<li>
				<span class="seconds">00</span>
				<p class="timeRefSeconds">seconds</p>
			</li>
		</ul>
		
	</div> <!-- end timer-area -->

	<div class="footer">
		<h2>Follow us on Twitter!</h2>
		<p><%= link_to '@xXhobojojoXx', 'https://twitter.com/xXhobojojoXx' %> and <%= link_to '@money_mikec', 'https://twitter.com/money_mikec' %></p>
	</div>