		<!-- LOGO -->
	<!-- <header class="container">
		<a href="#" id="logo"><img src="assets/rails.png" alt="Coming Soon Page" /></a>
	</header> -->
	
	
	<!-- TIMER -->
	<div class="timer-area">
		
		<h1>RUBYMERCS</h1></br>
		<h2>Have an idea for an app?</h2></br>
		<hr>
		<h1> Hire a RubyMerc </h1>
		<hr>
		</br></br>
		<h4>Consulting | Wireframes | Mockups</h4>
		<h4> UX/UI | Ruby on Rails | HTML/CSS  </h4>
		</br></br>

		<h4>Book Consult Appointments In:</h4>
		<ul id="countdown">
			<li>
				<span class="days">00</span>
				<p class="timeRefDays">days</p>
			</li>
			<li>
				<span class="hours">00</span>
				<p class="timeRefHours">hours</p>
			</li>
			<li>
				<span class="minutes">00</span>
				<p class="timeRefMinutes">minutes</p>
			</li>
			<li>
				<span class="seconds">00</span>
				<p class="timeRefSeconds">seconds</p>
			</li>
		</ul>
		

	<div class="footer">
		<h2>Follow us on Twitter!</h2>
		<a class='twitter-follow-button' data-show-count='false' href='https://twitter.com/money_mikec'>Follow @money_mikec</a>

		<a class='twitter-follow-button' data-show-count='false' href='https://twitter.com/xxhobojojoxx'>Follow @xxhobojojoxx</a>
	</div>

	</div> <!-- end timer-area -->

	
	

<script>
  //<![CDATA[
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  //]]>
</script>